<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css">

<span id="video-boulder" class="dropcams-video">
  <div style="width: 626px; margin: 40px auto;">
  <embed allowfullscreen="true" allowscriptaccess="always" src="https://www.dropcam.com/e/ca0755084914401e9be5c40e104bc4f3?autoplay=true" type="application/x-shockwave-flash" height="400" width="626" wmode="opaque">
  </div>
</span>
<div style="margin: 10px auto; width: 300px; text-align:center;">
  <%= link_to click_path, :class => "btn btn-primary", :style => "height: 100px; width: 300px; font-size: 58px;" do %>
    TURN <span class="direction"><%= @new_direction %>
  <% end %>
</div>
